.ul1{
    float: right;
    list-style-type: none;
    margin-top: 25px;
    padding-right: 5%;
}
ul li{
    display: inline-block;
    font-size: 17px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent ;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: #fff;
    color: #000;
}
ul li.active a{
    background-color: #fff;
    color: #000;
}
.navbar{
    max-width: 100%;
    margin: auto;
    font-family: Arial, Helvetica;
}
header{
    background-color: #43636e;
    height: 70px;
    background-position: center;
    text-align: center;
    color: white;
}

footer{
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #181818;
   text-align: left;
   padding-top: 2%;
}
.foot{
  margin-left: 15%;
}
.konten{
    margin-left: 200px;
    margin-right: 500px;
}

