*{
	margin: 0;
	padding: 0;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
header{
    background-color: #43636e;
    height: 650px;
    background-size:  ;
    background-position: center;
}
footer{
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #181818;
   text-align: left;
   padding-top: 2%;
}
.foot{
  margin-left: 15%;
} 
.container{
    position: relative;
    text-align: center;
    color: white;
}
.tengah{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.navbar{
    max-width: 100%;
    margin: auto;
    font-family: Arial, Helvetica;
}
.ul1{
    float: right;
    list-style-type: none;
    margin-top: 25px;
    padding-right: 5%;
}
ul li{
    display: inline-block;
    font-size: 17px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent ;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: #fff;
    color: #000;
}
ul li.active a{
    background-color: #fff;
    color: #000;
}
/* <a href=""><img src="image/right.jpg" class="rightarrow"/></a> 
<a href=""><img src="image/left.jpg" class="leftarrow"/></a>
*/

/*ul{
    height: 605px;
    background-position: center;
    text-align: center;
    color: white;
}

footer{
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #181818;
   text-align: left;
   padding-top: 2%;
}
.foot{
  margin-left: 15%;
}
.ul1{
    float: right;
    list-style-type: none;
    margin-top: 25px;
    padding-right: 5%;
}
ul li{
    display: inline-block;
    font-size: 17px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent ;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: #fff;
    color: #000;
}
ul li.active a{
    background-color: #fff;
    color: #000;
}
.logo-header {
    height: 50px;
    width: auto;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 2px 2px #000;
}
.mySlides {
	display:none;
}
.mySlides {display:none;}

.navbar{
    max-width: 100%;
    margin: auto;
    font-family: Arial, Helvetica;
}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
*/}

/* Number text (1/3 etc) 
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
    background: rgba(0,0,0,0.5);
    background-image: (image/black.jpg);
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.wrap2{
    margin: 100px auto 100px;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(200px, 1fr));
    grid-gap: 0px;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
}
.konten{
  background-color: #43636e;
  background-size:1000px;
  margin-top: 180px;
}
.konten1{
  margin-top: 50px;
}
.konten2{
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 40px;
  margin-top: 40px;r
}
.column1{
    float: right;
    width: 400px;
    height: 194px;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40%;
    border: 1px solid grey; 
    box-shadow: grey;
}
.price1{
    list-style: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    background: white;
    color: #000;
}
.price1:hover{
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.5);
}

.wrap1{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(20px, 1fr));
    margin-top: 20px;
    margin-left: 180px;
    margin-right: 180px;
    margin-bottom: 15%;
}
.column{
    position: relative;
    float: right;
    width: 205px;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #689AAB; 
}
.price{
    list-style: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    background: #689AAB;
    color: #000;
}
.price:hover{
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.5);
}
.price .header{
    background: #111;
    color: white;
    font-size: 15px;
    width: 100%;
}
.price li{
    border-bottom: 1px #eee dotted;
    padding: 0;
    text-align: center;
    width: 100%;
}
.price .price-button{
    background: white;
    font-size: 15px;
    color: #000;
    font-weight: bold;
    width: 100%;
}
.button{
    background: #ff267e;
    border: none;
    color: white;
    padding: 6px 7px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}
.button:hover{
    background: #000;
    color: #eee;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 30px;
}

ul li{
    display: inline-block;
    font-size: 17px;
    margin-top: 10px;
    margin-right: 20px;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid transparent ;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: #fff;
    color: #000;
}


ul li.active a{
    background-color: #fff;
    color: #000;
}

ul img{
    width: 200px;
    height: 150px;
    object-fit: cover;
}
.event-header{
    background-color: #43636e;
    height: 100px;
    background-size:  ;
    background-position: center;
    margin-top: 5%;
}
.event-header .text-light{
    color: white;
    font-family: Century Gothic;
    font-size: 1cm;
    text-align: center;
    font-weight: bold;
    padding-top: 20px;
}
.button-sm{
  padding: 20px 20px 20px 20px; 
  margin-left: 10%;
  background: #43636e;
  border: none;
  color: white;
  margin-top: -10px;
  text-align: center;
  text-decoration: none;
  font-size: 0.4cm;
}
.button-sm:hover{
  background: black;
  color: #eee;
}

.tambah1{
  margin-left: 25px;
}
.tambah22{
  margin-left:15px;
  background-color: #e6b800;
  width: 1320px;
  height: 400px;
}